<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <ul>
        {% for link in site.navbar-links %}
        <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>{{ site.author }}</p>
  </footer>
</body>
</html>
